{% extends "base.html" %}
{% load wagtailimages_tags %}

{% block content %}
    <h1>
        Welcome to our store 
    </h1>
    <h2>paDevSecOps deployment process is awesome!</h2>

    <div class="columns">
        {% for product in products %}
            <div class="column col-6">
                <div class="card">
                    <div class="card-image">
                        {% image product.image fill-1000x200 as tmp_image %}
                        <img src="{{ tmp_image.url }}" alt="" class="img-responsive">
                    </div>
                    <div class="card-header">
                        <a href="{{ product.get_url }}" class="btn btn-primary float-right">
                            <i class="icon icon-plus"></i>
                        </a>
                        <div class="card-title h5">
                            {{ product.title }}
                        </div>
                    </div>
                    <div class="card-body">
                        {{ product.description }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
